In [ ]:
# data types
# Data types are a classification (class object) that specifies which type of value a variable has and what operations can be applied to it
# For example, string is a datatype that is used to classify text, integer is a data type used to classify whole numbers
# 5 main data types
# 1. numeric  2. dictionary  3. boolean  4. set  5. Sequence type

# Mutable vs Immutable

# Mutable: the ability of objects to chage their values
# ex: Lists, dictionary, Sets. these datatypes can be updated

# immutablr: Values cannot be changed, once created, the values of these objects are permanennt
# ex: Numbers, Strings, tupels

# Numeric data types are numbers
# 1. integers  2. float  3. complex

# Boolean data types are either true or false
# they are also subtype of Numeric data, evaluating to 0 or 1
# they are used for comparision, logical operators to determine truth or false of an expression

# sequence data type 
# 1. string  2. list  3. tuples
# sequence data types can be accessed via their index, lists are mutable, where as strings and tuples are immutable

# set data type: Set is an unordered collection of data types that is iterable, mutable and has no duplicate elemenets
# sets are used to compare unique values to other set
# sets cannot be accessed by index

# dictionary: items are presented in key:value pairs which makes them unique from every other datatypes
# values in a dictionary can be of any datatypes and can be duplicated, whereas keys cannot be repeated and must be immutable

In [1]:
# numeric data type
type(25)

int

In [2]:
type(-25)

int

In [3]:
5+25

30

In [4]:
type(5+25)

int

In [5]:
type(2.2+3.45)

float

In [9]:

type(round(2.2+2.8))

int

In [11]:
type(1+10j) #complex has imaginary numbers

complex

In [12]:
# Boolean data type, true =1, false =0
1>2

False

In [13]:
2>1

True

In [19]:
type(False)
type(True)
2>1

True

In [20]:
type(1>5)

bool

In [22]:
'Varun' == 'Pranitha'

False

In [23]:
# string data type
'single quotes'

'single quotes'

In [24]:
"Double quotes"

'Double quotes'

In [25]:
"""
this is line 1.  using multi line strings
this is line 2 
"""

'\nthis is line 1\nthis is line 2\n'

In [28]:
# \n is called escape sequence
x = 'Pranitha \n Varun'
print(x)

Pranitha
 Varun

In [29]:
x= 'Pranitha \tVarun'
print(x)

Pranitha 	Varun

In [31]:
x = 'he\'s the worst'
x= "he's worst"
print(x)

he's worst

In [32]:
x= r'he\'s the worst' # r stands for raw string
print(x)

he\'s the worst

In [36]:
multiline = """
"lets use double quotes", will it make any difference

"""
print(multiline)

"lets use double quotes", will it make any difference

In [40]:
multiline = """
"lets use multi line", will it make any difference. \n "will  makes any difference"

"""
print(multiline)

"lets use multi line", will it make any difference.
 "will '
' makes any difference"

In [42]:
'varun ' * 5

'varun varun varun varun varun '

In [43]:
# strings are immutable, it cannot be changes if once assigned
x = 'happy birthday'
#del x[3]

TypeError: 'str' object doesn't support item deletion

In [46]:
del x # we can delete the whole string, but connot change the values in it
print(x)

NameError: name 'x' is not defined

In [47]:
# lists: lists can store multiple values in a single variable
# a single list can contain data types like integers, strings or even list within a list
# lists are orderend, they can be called with index. Lists are heterogenios and contain duplicates
# lists are also mutable, we can change or update the data

[1,4,'a']

[1, 4, 'a']

In [48]:
type([1,4,'a'])

list

In [50]:
list =['c',5, 'var', [5, 'par', 5.564], 6.345]
print(list)

['c', 5, 'var', [5, 'par', 5.564], 6.345]

In [51]:
list.append('par')
print(list)

['c', 5, 'var', [5, 'par', 5.564], 6.345, 'par']

In [52]:
list[0] = 'a'
print(list)

['a', 5, 'var', [5, 'par', 5.564], 6.345, 'par']

In [53]:
list[3]

[5, 'par', 5.564]

In [54]:
list[3][1] # we can call values of list that are in a list

'par'

In [55]:
list[3][1][1]

'a'

In [58]:
list_1 = [1,2,3]
list_2 = ['Go!']
list_3 = list_1 + list_2
#print(list_1, list_2)
print(list_1+list_2)

[1, 2, 3, 'Go!']

In [61]:
# tuples: tuples are very similar to lists, but tuples are immutable, we cannot delete or alter them
x= (5.8, 6,'hi')

In [62]:
type(x)

tuple

In [63]:
x = (1, 'hi', 7.989, [8, 9], ('var', 'par'))
print(x)

(1, 'hi', 7.989, [8, 9], ('var', 'par'))

In [ ]:
# tuples are for storing data, that are not ment to be changed

In [64]:
# sets: sets are very similar to lists & tuples, but they are unordered, it is mutable but dosent have duplicate values
# colletion of values that dosen't have any duplicates and dosent have any order to follow

first_set = {1,2,3}
print(first_set)

{1, 2, 3}

In [65]:
set_2 = {1,2,1}

In [66]:
print(set_2)

{1, 2}

In [67]:
# strings, numbers & tuples are hatchable, mutable datatypes are not hatchable

In [68]:
set_3 = {[1,2,3], 1,2,3}
print(set_3) # error because lists are not hatchable

TypeError: unhashable type: 'list'

In [69]:
set_3 = {(1,2,3), 1,2,3}
print(set_3) # there is no error because tuples are hatchable

{1, 2, 3, (1, 2, 3)}

In [70]:
set_4 = {1,1,5,7}
set_4.update([1,2,3])

In [71]:
print(set_4)

{1, 2, 3, 5, 7}

In [72]:
set_4 = {1,1,5,7}
set_4.discard(5)

In [73]:
print(set_4)

{1, 7}

In [74]:
set_5 = {1,2,3}
set_6 = {2,3,4}
print(set_5 | set_6) # prints all values

{1, 2, 3, 4}

In [75]:
set_5 = {1,2,3}
set_6 = {2,3,4}
print(set_5 & set_6) # prints only common values

{2, 3}

In [76]:
print(set_5 ^ set_6)

{1, 4}

In [78]:
# dictionaries: they have key:value pairs
dict_1 = {'name':'varun', 'occupation':['Data_analyst','husband','cook'], 'age':25}
print(dict_1)

{'name': 'varun', 'occupation': ['Data_analyst', 'husband', 'cook'], 'age': 25}

In [79]:
type(dict_1)

dict

In [81]:
# there is no index in dictionaries, but we do have keys
dict_1.keys()

dict_keys(['name', 'occupation', 'age'])

In [82]:
dict_1.values()

dict_values(['varun', ['Data_analyst', 'husband', 'cook'], 25])

In [83]:
dict_1.items()

dict_items([('name', 'varun'), ('occupation', ['Data_analyst', 'husband', 'cook']), ('age', 25)])

In [85]:
dict_1['name']

'varun'

In [86]:
dict_1['rent'] = 1030.00
print(dict_1)

{'name': 'varun', 'occupation': ['Data_analyst', 'husband', 'cook'], 'age': 25, 'rent': 1030.0}

In [89]:
dict_1['occupation'][1]

'husband'

In [91]:
# converting datatypes: 2 types- 1. implicit  2. explicit
# implicit
num_1 = 6
num_2 = 2.23
num_3 = num_1 / num_2
print(num_3)

2.690582959641256

In [92]:
type(num_3)

float

In [94]:
#explicit: with built in functions

num_1 = 5
num_2 = '5'
num_convert = int(num_2) # converting string to int using built in function
num_3 = num_1 + num_convert
print(num_3)

10

In [95]:
list_1 = [1,2,3,4,5,5]
list_1_conv = set(list_1) # converting list into set, remember set dosent allow duplicates
print(list_1_conv)

{1, 2, 3, 4, 5}

In [112]:
dict_1 = {'name':'varun', 'age':'25', 'hair':'buzz'}
dict_1.keys()

dict_keys(['name', 'age', 'hair'])

In [118]:
my_list1 = list(dict_1.values())
print(my_list1)

TypeError: 'list' object is not callable

In [115]:
# Option 1: If you've previously defined list as a variable, rename it
# For example, if you had: list = [1, 2, 3]
# Change it to: my_list = [1, 2, 3]

# Then use the built-in list function as intended
new_list = list(dict_1.keys())
print(new_list)

# Option 2: If you can't find where list was redefined, 
# you can access the built-in function directly
new_list = []
for key in dict_1.keys():
    new_list.append(key)
print(new_list)

TypeError: 'list' object is not callable

# Assistant
This error occurs because you've likely defined a variable named `list` somewhere in your code, which is now shadowing the built-in `list()` function. When you try to call `list(dict_1.keys())`, Python thinks you're trying to call your variable as if it were a function.

Would you like me to provide the corrected code?

# User
yes give me correct answer

In [116]:
# Assistant
# Option 1: If you've previously defined list as a variable, rename it
# For example, if you had: list = [1, 2, 3]
# Change it to: my_list = [1, 2, 3]

# Then use the built-in list function as intended
new_list = list(dict_1.keys())
print(new_list)

# Option 2: If you can't find where list was redefined, 
# you can access the built-in function directly
new_list = []
for key in dict_1.keys():
    new_list.append(key)
print(new_list)

TypeError: 'list' object is not callable

# Assistant
This error occurs when you've accidentally redefined the built-in `list` function as a variable somewhere in your code. When you later try to use `list()` as a function, Python sees it as a list object (which is not callable) rather than the built-in function.

The error message "TypeError: 'list' object is not callable" indicates that somewhere in your code, you've assigned a list to the variable name `list`, overriding the built-in function.

Would you like me to provide the corrected code?