In [2]:
# nested if

grade =85

if grade >= 90:
    if grade >= 97:
        print(str(grade) + ' = A+')
    elif grade >= 93:
        print(str(grade) + ' = A')
    else:
        print(str(grade) + ' = A-')
elif grade >= 80:
    if grade >= 87:
        print(str(grade)+ ' = B+')
    elif grade >= 85:
        print(str(grade)+ ' = B')
    else:
        print(str(grade)+ ' =B-')

85 = B

In [ ]:
# for loops
#lists = [1,2,3,4,5]
#for value in sequence(list str):
    # body of code

In [3]:
lists = [1,2,3,4,5,6]

In [5]:
for numbers in lists:  # here numbers is a temperory variable, it only stores the last value in the list, (6)
    print(numbers)

1
2
3
4
5
6

In [6]:
print(numbers)

6

In [7]:
lists = [1,2,3]

for num in lists:
    power_of_num = num ** num
    print(power_of_num)

1
4
27

In [8]:
sale_amount = [1,10,15,6,80,54,29,44,37,97,57,98,76]

small_sale = []
medium_sale = []
large_sale = []

for sale in sale_amount:
    if sale < 10:
        small_sale.append(sale)
    elif sale < 50:
        medium_sale.append(sale)
    else:
        large_sale.append(sale)

print('Small sale : ', small_sale)
print('Medium sale : ', medium_sale)
print('Large sale : ', large_sale)

Small sale :  [1, 6]
Medium sale :  [10, 15, 29, 44, 37]
Large sale :  [80, 54, 97, 57, 98, 76]

In [10]:
names = ['var','par','kar','aar']

i=1 # i is a counter

for name in names:
    print(i, name)
    i= i+1

1 var
2 par
3 kar
4 aar

In [11]:
for a, name in enumerate(names): # enumerate works like natural or default counter
    print(a,name)

0 var
1 par
2 kar
3 aar

In [15]:
names_dict = {1:'var',2:'par',3:'kar',4:'aar'}

for name in names_dict:
    print(name)

1
2
3
4

In [14]:
names_dict = {1:'var',2:'par',3:'kar',4:'aar'}

for name in names_dict.keys():
    print(name)

1
2
3
4

In [16]:
names_dict = {1:'var',2:'par',3:'kar',4:'aar'}

for name in names_dict.values():
    print(name)

var
par
kar
aar

In [20]:
names_dict = {1:'var',2:'par',3:'kar',4:'aar'}

for key,value in names_dict.items():
    print(key, value)

1 var
2 par
3 kar
4 aar

In [21]:
names_dict = {1:'var',2:'par',3:'kar',4:'aar'}

for name in names_dict.items():
    print(name)

(1, 'var')
(2, 'par')
(3, 'kar')
(4, 'aar')

In [22]:
divide_by_3 = []

for num in range(100):
    if num % 3 ==0:
        divide_by_3.append(num)

print(divide_by_3)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]